*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.parent{
    border: 1px solid black;
    background-color: #f1f1f1;
    width:1000px;
    padding:10px;
    margin:50px 50px;
    gap:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.child{
    text-align: center;
    font-size: xx-small;
    width:calc(25% - 10px);
    line-height: 100px;
    background-color: rgb(19, 156, 156);
    border-radius: 3px;
    color:white;
}